@page "/fetchdata"
@attribute [Authorize]
@using securityH5.Data
@using securityH5.Data.Models
@using securityH5.Data.Services
@using securityH5.Data.DTO
@using System.Security.Claims
@inject UserInfoService userInfoService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Weather forecast</PageTitle>

<AuthorizeView Roles="Administrator">
    <Authorized>
        <h1>Employee Info</h1>
        @if (EmpObj is null)
        {
            <p><em>Loading... !</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Tittle</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in EmpObj)
                    {
                        <tr>
                            <td>@emp.Title</td>
                            <td>@emp.Message</td>
                        </tr>
                    }
                </tbody>
            </table>
        }


        @code {
            List<userRequest> EmpObj;

            protected override async Task OnInitializedAsync()
            {
                var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
                var user = authenticationState.User;

                //var name = user.FindFirstValue(ClaimTypes.Name);
                string name = user.FindFirstValue(ClaimTypes.Name);
                EmpObj = await Task.Run(() => userInfoService.GetAllInfosAsync(name));

            }
        }
    </Authorized>
    <NotAuthorized>
        <p>Only administrator allowed to view this page</p>
    </NotAuthorized>
</AuthorizeView>

