
@using System.Security.Cryptography;
@page "/"

<PageTitle>Index</PageTitle>

<h1>Security information app</h1>
<p>Please log-in to access your private information.</p>

@code{     protected override void OnInitialized()
    {


    }
}

